.navbar .navbar-brand
{
    color: #E50914;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link
{
    color:#E50914;
}

.content-body{
    min-height: 100%;
    padding: 60px 1rem;
    background: red;
    display: block;
}
